* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #a8c0ff, #3f2b96);
}


header{
    background-image: url("https://i0.wp.com/conseilsante.cliniquecmi.com/wp-content/uploads/2022/05/4-blessures-en-faisant-du-sport-conseil-sante.jpg?w=1200&ssl=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.Introduction{
    font-weight: 700;
}

.titre_accueil{
    font-family: 'Unbounded', sans-serif;
    position: absolute;
    color: white;
    top: 30%;
    left: 25%;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.lien,
.lien nav {
    display: flex;
}

.lien {
    justify-content: center;
    margin-bottom: 205px;
    /* Tu peux modif comme tu veux ça c l'écart entre la div et le footer la je l'ai mis gros pour mes tests mais faut changer à ta guise */
}

.lien nav figure a img {
    width: 282px;
    height: 282px;
    border-radius: 50%;
    margin: 20px 20px 0px 20px;
}

.lien nav figure figcaption {
    display: none;
    text-align: center;
    font-size: 20px;
}


