* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;/* enlève la disponibilité de scroll en x*/
    flex-wrap: wrap;/*permet une disposition des élements soit en ligne soit en colonne pour éviter que des éléments sortent de la bordure*/
}

body {
    min-height: 100vh;/*définie une hauteur minimal*/
    background: grey;
}


.header_accueil{
    background-image: url("https://i0.wp.com/conseilsante.cliniquecmi.com/wp-content/uploads/2022/05/4-blessures-en-faisant-du-sport-conseil-sante.jpg?w=1200&ssl=1");
    background-size: cover;/*définie une nouvelle taille de l'image*/
    background-position: center;
    background-repeat: no-repeat;/*affiche l'image une seule fois*/
    height: 100vh; /* La hauteur de cet élément sera égale à 100% de la hauteur de la vue.*/
}
.paragraphe_intro{
    font-size: 18px;
}

.conseil{
    font-weight: bold;/*met en gras un texte*/
    font-size: 20px; 
}
.titre_accueil{
    font-family: 'Unbounded', sans-serif;/*change le type de police d'un texte*/
    position: absolute;/*positionné par rapport à son parent le plus proche,permet l'utilisation des propriétés top, left, bottom et right. */
    color: white;
    top: 10%;
    left: 23%;
}

.style_introduction{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;/* spécifier l'alignement horizontal du texte à l'intérieur d'un élément,ici alignement centré*/
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.lien,
.lien nav {
    display: flex;/* active le mode de boite flexible*/
}

.lien {
    justify-content: center;
    margin-bottom: 150px;
    /*écart entre la div et le footer */
}

.lien nav figure a img {
    width: 282px;
    height: 282px;
    border-radius: 50%;/*pour rendre les coins rond pour faire un cercle*/
    margin: 20px 20px 0px 20px;/*définie les marges*/
}

.lien nav figure figcaption {
    color: grey;
    text-align: center;
    font-size: 20px;
}


#img-natation  {
    background-image: url("../Image/Natation/accueil_natation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.titre_page{
    font-family: 'Unbounded', sans-serif;
    position: absolute;
    color: white;
    top: 10%;
    left: 43%;
}

.style_sous_titre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.encadre{
    background-color: rgb(63, 63, 250);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
} 

.contenu_encadre{
    display: flex;
}

.image_illustration img {
    width: 70%;
}
.contenu_encadre div {
    flex: 1;
}

.text {
    border-right: 1px solid black;
}

.image_illustration {
    text-align: center;
}


.text p {
    font-size: 20px;
    margin: 10px;

}

a:hover{
    color: yellow;/*lorsque les liens sont survolés , les liens changent de couleurs*/
}

#img-escalade {
    background-image: url("../Image/Escalade/accueil_escalade.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.encadre_escalade{
    background-color: rgba(150, 2, 150, 0.842);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
}

#img-escrime{
    background-image: url("../Image/Escrime/accueil_escrime.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.encadre-escrime{
    background-color: rgba(235, 9, 9, 0.685);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
}

#img-basket{
    background-image: url("../Image/Basketball/accueil_basket.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.encadre_basket{
    background-color: rgba(236, 72, 12, 0.767);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
}


.lien_vers_accueil {
    position: fixed;
    right: 1%;
    height: 45px;
    width: 45px;
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}


.footer{
    border-top: 1px solid black; /*crée une bordure du haut*/
}
.lien_footer{
    display: flex;
    justify-content: space-between;/*permet de faire un espacement entre le premier lien et les deux autres*/
    font-size: 20px;
    padding-bottom:20px;/*ajoute de l'espace vers le bas a l'intérieur de l'élément*/

}

.titre_information_additionel{
    font-family: 'Unbounded', sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;/*pour créer de l'espace*/
    display:block/*transforme l'élément en élément de bloc*/
}

.contenu_en_savoir_plus{
    background-color: white;
    border: 2px solid black ; /* crée un encadrée blanc*/
    margin: 3%;
    display:block
}

.overlay {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgb(218, 110, 8);
    font-size: 22px;
}

.fleche {
    animation: bounce 1s infinite; /*Créer une animation de type bounce*/
    font-size: 50px;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0); 
    }

    40% {
        transform: translateY(-20px); /*à l'étape qui correspond à 60% et 40%, la fléche fais une translation en Y de 20px ou 10px vers le bas, pour qu'elle rebondissent deux fois */ 
    }

    60% {
        transform: translateY(-10px);
    }
}
/*permet la création d'une fléche nous indiquant de défilez vers le bas*/

.different_sous_titre {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.lien_information_additionnelle li{
    font-size: 17px;
    margin:1px;
}
.lien_information_additionnelle p{
    font-size: 17px;
    margin:1px;
}
.p_sur_moi{
    font-size: 17px;
    margin:1px;
}