* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    flex-wrap: wrap;
}

body {
    min-height: 100vh;
    background: grey;
}


.header_accueil{
    background-image: url("https://i0.wp.com/conseilsante.cliniquecmi.com/wp-content/uploads/2022/05/4-blessures-en-faisant-du-sport-conseil-sante.jpg?w=1200&ssl=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.paragraphe_intro{
    font-size: 20px;
}

.conseil{
    font-weight: bold;
    font-size: 25px;
}
.titre_accueil{
    font-family: 'Unbounded', sans-serif;
    position: absolute;
    color: white;
    top: 10%;
    left: 25%;
}

.style_introduction{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
}

.lien,
.lien nav {
    display: flex;
}

.lien {
    justify-content: center;
    margin-bottom: 155px;
    /* Tu peux modif comme tu veux ça c l'écart entre la div et le footer la je l'ai mis gros pour mes tests mais faut changer à ta guise */
}

.lien nav figure a img {
    width: 282px;
    height: 282px;
    border-radius: 50%;
    margin: 20px 20px 0px 20px;
}

.lien nav figure figcaption {
    display: none;
    text-align: center;
    font-size: 20px;
}


#img-natation  {
    background-image: url("../Image/Natation/accueil_natation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.titre_page{
    font-family: 'Unbounded', sans-serif;
    position: absolute;
    color: white;
    top: 10%;
    left: 43%;
}

.style_sous_titre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.encadre{
    background-color: rgb(63, 63, 250);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
} 

.contenu_encadre{
    display: flex;
}

.image_illustration img {
    width: 70%;
}
.contenu_encadre div {
    flex: 1;
}

.text {
    width: 60%;
}

.image_illustration {
    text-align: center;
}


.text p {
    font-size: 20px;
    margin: 10px;

}

.text {
    border-right: 1px solid black;
}

a:hover{
    color: yellow;
}

#img-escalade {
    background-image: url("../Image/Escalade/accueil_escalade.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.encadre_escalade{
    background-color: rgba(150, 2, 150, 0.842);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
}

#img-escrime{
    background-image: url("../Image/Escrime/accueil_escrime.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.encadre-escrime{
    background-color: rgba(235, 9, 9, 0.685);
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-bottom: 10px solid grey;
}

